[Unit]
Description=BlockOS D-Bus system bus
After=vfs.service
Requires=vfs.service

[Service]
Type=simple
ExecStart=/system/bin/dbusd

[Install]
WantedBy=services.target
